/.vs
/Client/Client.vcxproj.user
/packages
/webpack/node_modules
/webpack/package-lock.json
/enc_temp_folder
/Release
/Debug
/libs/Release/libcrypto-1_1-static.lib
/Client/Debug
/Client/Release
/Client/MicrosoftEdgeWebview2Setup.exe