/.vs
/Client/Client.vcxproj.user
/packages
/Webpack/node_modules
/Webpack/dist
/enc_temp_folder
/Release
/Debug
/lib/Release/libcrypto-1_1-static.lib
/Client/Resource.aps
/Client/Debug
/Client/Release
/Client/MicrosoftEdgeWebview2Setup.exe