.account-tiles {
	display: flex;
	width: 100%;
	background: #FFF;
	overflow: hidden;
	border-radius: 5px;
}

.account-tile {
	border: 1px solid #000;
	justify-content: center;
	align-items: center;
	min-width: 25%;
	display: flex;
	height: 100px;
	display: flex;
	flex: auto;
	cursor: pointer;
	position: relative;
}

.account-tile > .buttons {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.account-tile > .text {
	--alpha: 1;
	display: flex;
	background: rgba(0, 0, 0, var(--alpha));
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.account-tile > .text:hover {
	--alpha: 0.7;
}

.account-tile > .buttons > span {
	color: white;
	padding: 6px;
}

.account-tile > .buttons > span:hover {
	background: rgba(255, 255, 255, 0.3); 
}